body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 120px;
}

.button {
    height: 200px;
    width: 200px; 
}

/* Hover effects for each button  */
/* .red:after {
    content: "";
    background: red;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .red:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
  }


  .green:after {
    content: "";
    background: green;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .green:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
  }


  .blue:after {
    content: "";
    background: blue;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .blue:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  .yellow:after {
    content: "";
    background: yellow;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .yellow:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
  } */

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}